* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    display: flex;
    flex-direction: column;
}
.wrapper {
    width: 1160px;
    margin: 0 auto;
}

/* HEADER */

/* Header */
.header {
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;	
    border: 1.18841px solid #FFFFFF;
    font-weight: 400;
	color: #FFFFFF;
    font-size: 19.0145px;
    line-height: 120%;
    height: 50px;
    width: 80px;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.logo__title {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
}

.logo__img {
    position: absolute;
    left: 11px;
    top: 23px;
}

.logo__img-2 {
    display: none;
}

.nav {
    flex-grow: 1;
}

.nav__logo, .nav__design {
    display: none;
}

.overlay {
    display: none;
}

.nav__menu {
    display: flex;
    align-self: center;
    gap: 6.4%;
    margin-left: 63px;
    padding: 0;
}

.nav__contact-us {
    white-space: nowrap;
}

.nav__li, .design__title{
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s ease-in-out;
}

.nav__li:hover {
    cursor: pointer;
    color: #F9804B;
}

.design__title:hover {
    cursor: pointer;
    color: #F9804B;
}

.active{
	color:rgba(254, 144, 19, 1);
}

/*End OF HEADER*/

.top{
    background-image: url('../../../assets/images/bcg-donate.jpg');
    background-size: 100%;
    background-position: center;
    // position: absolute;
    height: 390px;
    left: 0px;
    right: 0px;
    top: 76px;
}


/*PICK AND FEED A FRIEND*/

.pick__feed__friend{   
    display: flex;
    height: 1482px;
    left: 0px;
    right: 0px;
    top: 466px;
    /* orange_gradient */
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate__title{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    margin-top: 30px;
}

.donate__paragrapgh{
    color: #FFFFFF;
    line-height: 22px;
    letter-spacing: 0em;
    line-height: 22px;
    margin-top: 10px;
}

.donate__information{
    color: #FE9013;
    margin: 45px 0 60px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
}

.wrapper__donate{
    padding: 40px 92px 62px 92px;
    height: 964px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.title__description{
    color: #FE9013;
    font-weight: 400;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 120%;
    text-align: center;
}

.text__description{
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-top: 20px;
}

.panda__friend{
    display: flex;
    flex-direction: row;
}

.panda__diet{
    margin-top: 165px;
    margin-left: 215px;
}

.big__4{
    font-size: 72px;
    line-height: 80%;
    font-weight: 500;
    text-align: center;
    margin-top: 155px;
}

.panda__diet p{
    margin-top: 11px;
    // line-height: 140%;
    text-align: center;
    color: #333B41;
}

.x__icon{
    margin-top: 190px;
}

.panda__img{
    margin-left: 61px;
    margin-top: 60px;
}
